{% extends "layout.html" %}

{% block page_name %}Home{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% if messages %}
<div class=mes>
    <p>{{ messages }}</p>
</div>
{% endif %}

<Legend>Options</Legend>

<p><a href="{{ url_for('watermark') }}">Send</a></p>

<p><a href="{{ url_for('receiver') }}">Receive</a></p>

<p><a href="{{ url_for('signoff') }}">Sign Off</a></p>
{% endblock %}