{% extends "layout.html" %}

{% block page_name %}Watermark{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<Legend>Get who's secret:</Legend>

<form action="/recevier" method="post" enctype="multipart/form-data">
    <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class_="form-control") }}
    </div>

    <p>{{ form.csrf_token }}</p>

    <input class="btn btn-primary" type="submit" value="Submit">
</form>


<a href="{{ url_for('signoff') }}">Sign Off</a>
{% endblock %}