{% extends 'layout.html' %}

{% block page_name %}About Me{% endblock %}

{% block content %}

 <!-- START: About Our Agency -->
 <div class="bg-white" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-xs-center">
                <div class="nk-gap-4 mt-9"></div>

                <h2 class="display-4">About Me</h2>
                <div class="nk-gap mnt-5"></div>

                <p>
                    I just can not describe who I am by my self.
                </p>
                <p>Most of the time, I can't have a think.</p>
                <p>I'm always on the way doing things. And my procrastination can accout for this.</p>
                <p>BTW, I always give up half way.</p>

                <img src="static/assets/images/about-me-signature.png" alt="" class="nk-img-fit">

                <div class="nk-gap-4 mt-25"></div>
            </div>
        </div>
    </div>
</div>
<!-- END: About Our Agency -->

{% endblock %}