


<link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/my_css.css') }}">



</header>


            <!-- START: Header Title -->
            <div class="nk-header-title nk-header-title-full">
                <div class="bg-image">
                    <div id="my_css"></div>
                    <div id="my_css_"></div>
                    <!-- <div style="background-image: url('assets/images/home-7.jpg');"></div>
                    <div class="bg-image-overlay" style="background-color: rgba(12, 12, 12, 0.6);"></div> -->
                </div>
                <div class="nk-header-table">
                    <div class="nk-header-table-cell">
                        <div class="container">
    
                            <h2 class="nk-subtitle text-white">A Sdudent in CUC</h2>
    
    
                            <h1 class="nk-title display-3 text-white">Always On The Way
                                <br>
                                <em class="fw-400">BTW PLEASE GO ALL THE WAY</em>
                            </h1>
    
                            <div class="nk-gap"></div>
                            <div class="nk-header-text text-white">
                                <div class="nk-gap-4"></div>
                            </div>
    
    
                        </div>
                    </div>
                </div>
    
                <div>
                    <a class="nk-header-title-scroll-down text-white" href="#nk-header-title-scroll-down">
                        <span class="pe-7s-angle-down"></span>
                    </a>
                </div>
    
            </div>
    
        <div id="nk-header-title-scroll-down">

    </div>

            <!-- END: Header Title -->

