<!DOCTYPE html>
<!--
  Name: Snow - Minimal & Clean Portfolio HTML Template
  Version: 1.0.1
  Author: nK, unvab
  Website: https://nkdev.info, http://unvab.com/
  Purchase: https://nkdev.info
  Support: https://nk.ticksy.com
  License: You must have a valid license purchased only from ThemeForest (the above link) in order to legally use the theme for your project.
  Copyright 2017.
-->

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Winnie | {% block page_name %}always on the way{% endblock %}</title>

    <meta name="description" content="Snow - Clean & Minimal Portfolio HTML template.">
    <meta name="keywords" content="portfolio, clean, minimal, blog, template, portfolio website">
    <meta name="author" content="nK">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='/assets/images/icon.png') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- START: Styles -->

    <!-- Google Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i%7cWork+Sans:400,500,700" rel="stylesheet" type="text/css">
     -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/combined.css') }}">

    <!-- END: Styles -->
    
     <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/my_css.css') }}">
     


</head>

<body>




    <header class="nk-header">
        <!--
        START: Navbar
    -->
        <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-transparent nk-navbar-white-text-on-top">
            <div class="container">
                <div class="nk-nav-table">
                    <a href="{{ url_for('anony.home') }}" class="nk-nav-logo">
                        <img src="{{ url_for('static', filename='/assets/images/logo.png') }}" alt="" width="200" height='42' class="nk-nav-logo-onscroll">
                        <img src="{{ url_for('static', filename='/assets/images/logo.png') }}" alt="" width="200" height='42'>
                    </a>

                    <ul class="nk-nav nk-nav-right hidden-md-down" data-nav-mobile="#nk-nav-mobile">
                        <li>
                            <a >About</a>
                        </li>
                        <li>
                            <a >Contact</a>
                        </li>
                        <!-- <li>
                            <a href="{ {url_for('.index', _anchor='portfolio') }}">Portfolio</a>
                        </li> -->
                        <li>
                            <a >Blog</a>
                        </li>
                    </ul>

                    <ul class="nk-nav nk-nav-right nk-nav-icons">
                        <li class="single-icon hidden-lg-up">
                            <a href="#" class="nk-navbar-full-toggle">
                                <span class="nk-icon-burger">
                                    <span class="nk-t-1"></span>
                                    <span class="nk-t-2"></span>
                                    <span class="nk-t-3"></span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END: Navbar -->
    </header>   

    
    <div class="nk-main"> 
            <!--CONTENT-->
        
    </header>


    <!-- START: Header Title -->
    <div class="nk-header-title nk-header-title-full">
        <div class="bg-image">
            <div id="my_css"></div>
            <div id="my_css_"></div>
            <!-- <div style="background-image: url('assets/images/home-7.jpg');"></div>
            <div class="bg-image-overlay" style="background-color: rgba(12, 12, 12, 0.6);"></div> -->
        </div>
        <div class="nk-header-table">
            <div class="nk-header-table-cell">
                <div class="container">

                    <h2 class="nk-subtitle text-white">LITTLE RED CUC</h2>


                    <h1 class="nk-title display-3 text-white">小红杨
                        <br>
                        <em class="fw-400">标记你的成长</em>
                    </h1>

                    <div class="nk-gap"></div>
                    <div class="nk-header-text text-white">
                        <div class="nk-gap-4"></div>
                    </div>


                </div>
            </div>
        </div>

        <div>
            <a class="nk-header-title-scroll-down text-white" href="#nk-header-title-scroll-down">
                <span class="pe-7s-angle-down"></span>
            </a>
        </div>

    </div>

<div id="nk-header-title-scroll-down">

</div>

    <!-- END: Header Title -->
        

         <!-- START: Contact Info -->
       <div class="container" id="contact">
        <div class="nk-gap-5"></div>
        <div class="row vertical-gap">
            <div class="col-lg-5">
                <!-- START: Info -->
                <h2 class="display-4">Welcome to LittleRedCUC</h2>
                <div class="nk-gap mnt-3"></div>

                <p>Have a nice day!</p>

                <!-- <ul class="nk-contact-info"> -->
                    <!-- <li>
                        <strong>Address:</strong>CUC-ZLApartment-E-610</li>
                    <li>
                        <strong>Phone:</strong> secrecy </li>
                    <li>
                        <strong>Email:</strong> 2801494637@qq.com</li> -->
                <!-- </ul> -->
                <!-- END: Info -->
            </div>
            <div class="col-lg-7">
                <!-- START: Form -->
                    <div class="row vertical-gap">
                        <!-- <div class="col-md-6">
                            <input type="text" class="form-control required" name="name" placeholder="Your Name">
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control required" name="email" placeholder="Your Email">
                        </div>
                    </div>

                    <div class="nk-gap-1"></div>
                    <input type="text" class="form-control required" name="title" placeholder="Your Title"> -->

                    <div class="nk-gap-1"></div>
                    <!-- <textarea  class="form-control required" name="message" rows="8" placeholder="Your Comment" aria-required="true"></textarea> -->



                    <form action="/api/posts" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                          <textarea name="text" class="form-control" rows="3" placeholder="输入 ..."></textarea>
                        </div>
                        <div class="form-group">
                          <input name="image" type="file" id="inputFile" />
                        </div>
                        <button class="nk-btn" id="suggestion"  >提交</button>
                        <!-- <div class="form-group pull-right">
                          <button type="submit">提交</button>
                        </div> -->
                      </form>
                    <!-- <input type="button" value="Send Message" class="nk-btn" id="suggestion" onclick="go()"/> -->
                    <div class="nk-gap-1"></div>
                    <div class="nk-form-response-success"></div>
                    <div class="nk-form-response-error"></div>
                    <!-- <button class="nk-btn" id="suggestion" >Send Message</button> -->
                </form>
                <!-- END: Form -->
            </div>
        </div>
        <div class="nk-gap-5"></div>
    </div>
    <!-- END: Contact Info -->


        




        <!--
    START: Footer
    -->
        <footer class="nk-footer">


            <div class="nk-footer-cont">
                <div class="container text-xs-center">
                    <div class="nk-footer-social">
                        <ul>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>

                    <div class="nk-footer-text">
                        <p>Winnie | always on the way</p>
                        <p>Design by Unvab. Code by nK</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END: Footer -->


    </div>




    <!-- START: Scripts -->

    <script src="{{ url_for('static', filename='/assets/js/combined.js') }}"></script>

    <!-- END: Scripts -->
    <div id="posts" class="row" style="flex-direction: column;"></div>

</body>

</html>